/**
 *
 * Typography _typography.scss
 *
 */

h1 {
	font-size: map-get($typography , h1 );
}

h2 {
	font-size: map-get($typography, h2 );
}

h3 {
	font-size: map-get($typography, h3 );
}

h4 {
	font-size: map-get($typography, h4 );
}

h5 {
	font-size: map-get($typography, h5 );
}

h6 {
	font-size: map-get($typography, h6 );
}

p {
	font-size: map-get($typography, p );
	margin-bottom: 15px;
}