/* BOOTSTRAP CUSTOM */

// Container width (Feel free to change as you want)
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
) !default;

/**
* Use bootstrap media query mixin for responsive
* EX:
* @include media-breakpoint-down(xs) {}
*
*/



$content-width: (
  content: 70%,
  sidebar: 25%
) !default;



/* TYPOGRAPHY */

$font-stack: 'Open Sans', sans-serif;
$font-secondary: 'Crimson Text', serif;


body, html, p, span, html, td, tr, li, a, label {
  font-family: $font-stack;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

$typography: (
    h1: 82px,
    h2: 64px,
    h3: 46px,
    h4: 32px,
    h5: 22px,
    h6: 18px,
    p : 16px
);


h1 {
	font-size: map-get($typography , h1 );
}

h2 {
	font-size: map-get($typography, h2 );
}

h3 {
	font-size: map-get($typography, h3 );
}

h4 {
	font-size: map-get($typography, h4 );
}

h5 {
	font-size: map-get($typography, h5 );
}

h6 {
	font-size: map-get($typography, h6 );
}

p {
	font-size: map-get($typography, p );
	margin-bottom: 15px;
}


/**
* Color
*/

$color: (
  primary: #1d1d1d,
  secondary: #ffffff,
  link: #d4a259
);