/* BOOTSTRAP CUSTOM */

// Container width (Feel free to change as you want)
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
) !default;


$content-width: (
  content: 58%,
  sidebar: 36%
) !default;



/* TYPOGRAPHY */

$typography: (
    h1: 82px,
    h2: 64px,
    h3: 46px,
    h4: 32px,
    h5: 22px,
    h6: 18px,
    p : 16px
);

$fonts: (
    primary-font: Roboto,
    secondary-font: Lato
);